$primary: #00634b;
$secondary: #aedada;
$primary__thin: #0066660b;
$secondary__thin: #aedada;
$third__thin: #f0f7f7;
$black: #333;
$header: #fff;
// $body_bg: #fafafa;
$body_bg: #fff;
$grey: #757575;
