$primary: #00634b;
$secondary: #aedada;
$primary__thin: #0066660b;
$secondary__thin: #e4e4e4;
$third__thin: #e4e4e4;
$black: #333;
$black__thin: rgba(51, 51, 51, 0.456);
$header: #fff;
// $body_bg: #fafafa;
$body_bg: #fff;
$grey: #757575;
